<!DOCTYPE html>
<html dir="rtl" lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - arabiquantum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/arabiquantum.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homeStyle.css" asp-append-version="true" />
</head>
<body class="new-font" style="background-color:ghostwhite;">
    <nav class="navbar shadow navbar-expand-sm navbar-toggleable-sm navbar-dark   box-shadow mb-0 sticky-top main-c " style="font-size: 15px;">
        <div class="container-fluid  ">
            <a class="navbar-brand border-start ps-3" style=" border-width:0.2rem !important;" asp-area="" asp-controller="Home" asp-action="Index"><strong>عربي كوانتوم</strong></a>

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">



                <ul class="navbar-nav flex-grow-1  mt-0 ">

                    <li class="nav-item mx-2 mx-sm-3 ">
                        <a class="nav-link text-light float-end " asp-area="" asp-controller="Home" asp-action="Index">الصفحة الرئيسية</a>
                    </li>
                    <li class="nav-item  mx-2 mx-sm-3">
                        <a class="nav-link text-light float-end" asp-area="" asp-controller="Home" asp-action="quantum">تعلم عن الحوسبة الكمية</a>
                    </li>
                    <li class="nav-item  mx-2 mx-sm-3 ">
                        <a class="nav-link  text-light float-end" asp-area="" asp-controller="post" asp-action="index">المجتمع</a>
                    </li>

                    <li class="nav-item  mx-2 mx-sm-3 d-none d-lg-block float-start">
                        <form method="get"  asp-controller="Post"  asp-action="Index" enctype="multipart/form-data">
                        <div class="mb-0">
                            <div class="search" style="margin:0%;max-width:35vh">

                                  
                                    <div class="input-group mb-0">
                                        <div class="input-group-sm">
                                            <button class=" myb1 fa fa-search " type="submit"></button>
                                        </div>
                                        @Html.TextBox("SearchText",null,new {style= "border-radius: 0px", @class="form-control my-sm-0", type="text" ,placeholder="إبحث"})
                                    </div>

                                        
                                    
                            </div>
                        </div></form>
                        </li>

                  
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item  mx-2 mx-sm-3">

                            <a class="nav-link text-light float-end " asp-area="" asp-controller="Account" asp-action="AccountDetails">الحساب</a>

                        </li>

                        <li class="nav-item mx-2 mx-sm-3">

                       
                            <a type="button" class="nav-link myb1 text-light float-end " asp-area="" asp-controller="Account" asp-action="Logout">تسجيل الخروج</a>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item  mx-2 mx-sm-3">

                        <a class="nav-link text-light float-end " asp-area="" asp-controller="Account" asp-action="Login">تسجيل الدخول</a>

                    </li>

                        <li class="nav-item  mx-2 mx-sm-3">

                    <a class="nav-link text-light float-end " asp-area="" asp-controller="Account" asp-action="Register">إنشاء حساب</a>

                    </li>

                    }
                </ul>
            </div>

        </div>
        
       
    </nav>


    <header>
    </header>
    <main >
        @RenderBody()
    </main>
   

    <footer class="border-top footer text-light mt-5 main-c style=" margin-top:4vh;"">
        <div class="container">
            &copy; 2023 - arabiquantum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
