@model IEnumerable<Post>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>

    <main role="main" style=" margin-top:3.87%;">
        <div class="container  ">

            <div class="container ">
                <div style="border-radius: 0px ; border-color: #235074; " class="card w3-panel w3-border w3-hover-border-blue ">
                    <div class="card-body">
                        <div class="row justify-content-between">



                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">إنشاء سؤال :</h5>

                                </div>
                                <div class="modal-body">
                                    <form>

                                        <div class="form-group">

                                            <textarea class="form-control " data-toggle="modal" data-target="#exampleModal"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>

            @{var count=0;
                foreach (var post in Model)
                {
                  count++;
                    <div class="container ">
                        <div style="border-radius: 0px ; border-color: #235074; " class="card w3-panel w3-border w3-hover-border-blue ">
                            <div class="card-body">
                                <div class="row justify-content-between">



                                    <div class=" col-sm-2"> <h4 class="card-title ">السؤال#@count</h4> </div>
                                    <div class=" col-sm-2"> <h6 class="card-title ">@post.DateTime</h6> </div>
                                </div>

                                <p class="card-text">@post.text</p>

                                @Html.ActionLink("التفاصيل",
                                    "index",
                                    "comment",
                                    new{ post.Id},
                                    new { type = "button", @class = "myb1"})

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <h2 style=" color:white">.</h2>
    </main>
    
}
