body {
}
/*home image style*/

#intro {
    background-image: url("/img/homePage.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.ctr {
    
    height: 100vh;
    background-position: center center;
   
}
/*serch bar*/
.fa-search {
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    /*border-radius: 0px 10px 10px 0px;*/
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: right; /* change float to right */
    width: 80%;
    background: #F3F6FB;
    text-align: right;
}

form.srb button {
    /*border-radius: 10px 0px 0px 10px;*/
    float: left;
    width: 20%;
    padding: 1%;
    font-size: 17px;
    border-right: none;
    cursor: pointer;
    background: #123a93;
    color: #f9f9ea;
    border: 0px solid grey;
}

    form.srb button:hover {
        background: #f9f9ea;
        color: #123a93;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}