@model Post
@{
    ViewData["Title"] = "Home Page";
}
<head>

    
</head>
<main role="main" >

    <div id="intro" class="bg-image justify-content-center align-bottom">

        <div class="container d-flex align-items-center justify-content-center text-center mb-5 ">
            
            <div class="row-1  ">
                <div style="width: auto;" class=" col-1">
                    <div class="align-items-center mb-4 mt-5 p-3 main-c  " style="text-align: start;   background-color:rgba(18,58,147,0.30);">
                        <h1 class="display-4 "style="line-height: 150%;">ابحث عن إجابات أسئلتك <br />حول الحوسبة الكمية</h1><!--اجب عن تساؤلاتك حول الحوسبة الكمية-->

                    </div>
                  

                </div>

                <div style="margin:auto; max-width:100vh" class="col-2 box input-group mb-3">
                    <div style="margin:auto; max-width:100vw;">

                        @using (Html.BeginForm("Index", "Post", FormMethod.Get, new
                        { @*placeholder = "لديك سؤال؟" ,*@ style = "margin:auto; max-width:100vw ; height:40px",
                            @class = "example mt-4"
                        }))
                        {
                            @Html.TextBox("SearchText")
                            <button style="height:105%; float: right; " type="submit" class="myb1   fa fa-search "> <i></i> </button>
                        }
                    </div>

                </div>

                <p style="color :white;text-shadow: 2px 2px 9px #050507;"> <b>تعلم عن الحاسوب الكمي</b> <a href="https://arabiquantum.z13.web.core.windows.net/api/index.html">هنا</a>.</p>

               
                
            </div>
        </div>
    </div>
    
    <div>  
        
    </div>
</main>

