@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Quantum <a href="https://arabiquantum.z13.web.core.windows.net/api/index.html">building Web apps with ASP.NET Core</a>.</p>
</div>
