@{
    ViewData["Title"] = "Home Page";
}
<style> 
   #main{ 
       text-align: right;

   }
</style>
<body  >
   
    <div id="main" >
        <h1>ArabiQuantum مرحباً إلى </h1>
        <p>أول موقع عربي للتعلم عن الحواسيب الكمية .</p>
        <p>للمزيد أدخل <a href="https://www.youtube.com/shorts/UIklxINjVDw">هنا</a></p>

    </div>

</body>

