@model arabiquantum.Models.Post
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homeStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<main role="main" >
    <div class="bg-image intro d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="text-center">
                <h1 class="display-4 text-light pb-4 shadow-lg" style="text-shadow: 2px 2px #f5f543;">(arabiQuantum)مرحبا إلى</h1>

            <div class="box">
              <form class="example" action="/post/search/" method="post" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="...بحث" name="search"> 
                    <button type="submit"><i class="fa fa-search"></i></button>              
             </form>
                   
            </div>

                <p>تعلم عن الحاسوب الكمي <a href="https://arabiquantum.z13.web.core.windows.net/api/index.html">هنا</a>.</p>
            </div>
        </div>
    </div>

    
    <div>

        
    </div>
</main>