@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homeStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<main role="main" class="pb-3">
    <div class="bg-image intro d-flex justify-content-center align-items-center">
      
    </div>

    <div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

            <div class="box">
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Search.." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>


                <p>Learn about Quantum <a href="https://arabiquantum.z13.web.core.windows.net/api/index.html">building Web apps with ASP.NET Core</a>.</p>
    </div>
    </div>
</main>