@model arabiquantum.Models.Post
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homeStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<main role="main" >
    <div id="intro" class="bg-image">
        <div class="container d-flex align-items-center justify-content-center text-center h-100 ">
            <div class="text-center ">
                <h1 class="display-4 text-white pb-4 " style="text-shadow: 2px 2px 9px #7E9EC5;"><b>"Arabi Quantum"مرحبا إلى</b></h1>
               
            <div class="box">
              <form class="example" action="/post/search/" method="post" style="margin:auto;max-width:55vh">
                        <input type="text" placeholder="بحث... " name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>              
             </form>
                   
            </div>

                <p style="text-shadow: 2px 2px 9px #7E9EC5;"> <b>تعلم عن الحاسوب الكمي</b> <a href="https://arabiquantum.z13.web.core.windows.net/api/index.html">هنا</a>.</p>
            </div>
        </div>
    </div>
    
    
    <div>

        
    </div>
</main>