@model IEnumerable<Comment>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    
</head>
<main role="main" class="mb-5">
    <div class="container">

        @{
            foreach (var comment in Model)
            {

                <div class="container ">
                    <div style="border-radius: 0px ; border-color: #235074" class="card w3-panel w3-border w3-hover-border-blue">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <h4 class="card-title " style=" width:25vw;">التعليق</h4>
                                <p class="text-muted small mb-0 " style=" width:26vw;">@comment.DateTime</p>

                            </div>
                            <div class="row">
                                <div class="col-11">
                                    @* <p class="card-text">@comment.Text</p>*@

                                    

                                    <input type="text" id="ed" name="Name " class="no-outline" disabled value="@comment.Text" style="background-color:white ; width:100%;border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;border-bottom-style:hidden; " />

                                </div>
                            </div>
                           
                            <div class="row justify-content-start">


                                <div style="flex-row-reverse ">
                                    <button type="button" class="myb2  p-1" style="width:4%;" onclick="disableEnable()"><i class="fa-regular fa-pen-to-square"></i></button>

                                    <button type="button" class="myb2 p-1 " style="width:4%;"><i class="fa-regular fa-trash-can"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script>
                function disableEnable() {



                    if (document.getElementById("ed").disabled == true) {

                        document.getElementById("ed").disabled = "";
                    } else {

                        document.getElementById("ed").disabled = true;
                    }


                }

            </script>
        }

    </div>
</main>

