@model arabiquantum.ViewModels.CommentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main role="main">
    <div class="container  ">
    @Html.Partial("CommentPartialView",Model.CreateCommentViewModel)
    @Html.Partial("CommentListPartialView",Model.EditCommentViewModel)
  
        </div>
    </main>
