@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2 class="mt-4 mb-5 pe-5">تفاصيل الحساب</h2>
}
<main role="main" class="mb-5 mx-1">
    <div class="container border border-primary p-4">
    <div class="row p-1">
        <div class="col-3"><label>إسم المستخدم :</label></div>
        <div class="col-6"><input  type="text" id="ed" name="CommentText" class="no-outline" value="i8ra2018" style="background-color:white ; width:100%;border-style:hidden;" /></div>
        <div class="col-1">
                <button type="button" class="myb2  p-1" onclick="disableEnable()"><i class="fa-regular fa-pen-to-square"></i></button>

            </div> 
            <div class="col-1">

                <button type="button" class="myb2  p-1" ><i class="fa-regular fa-trash-can"></i></button>
               
            </div>
            <div class="col-1">
                <button type="submit" class="myb2  p-1" ><i class="fa-regular fa fa-floppy-disk"></i></button>
            </div>
    </div>

        <div class="row p-1">
            <div class="col-3"><label>البريد الإلكتروني :</label></div>
            <div class="col-6"><input type="text" id="ed" name="CommentText" class="no-outline" value="i8ra69@gmail.com" style="background-color:white ; width:100%;border-style:hidden;" /></div>
            <div class="col-1">
                <button type="button" class="myb2  p-1" onclick="disableEnable()"><i class="fa-regular fa-pen-to-square"></i></button>

            </div>
            <div class="col-1">

                <button type="button" class="myb2  p-1"><i class="fa-regular fa-trash-can"></i></button>

            </div>
            <div class="col-1">
                <button type="submit" class="myb2  p-1"><i class="fa-regular fa fa-floppy-disk"></i></button>
            </div>
        </div>

    
        <div class="row p-1">
            <div class="col-3"><label>كلمة السر :</label></div>
            <div class="col-6"><input type="password" id="ed" name="CommentText" class="no-outline" value="**************************" style="background-color:white ; width:100%;border-style:hidden;" /></div>
            <div class="col-1">
                <button type="button" class="myb2  p-1" onclick="disableEnable()"><i class="fa-regular fa-pen-to-square"></i></button>

            </div>
            <div class="col-1">

                <button type="button" class="myb2  p-1"><i class="fa-regular fa-trash-can"></i></button>

            </div>
            <div class="col-1">
                <button type="submit" class="myb2  p-1"><i class="fa-regular fa fa-floppy-disk"></i></button>
            </div>
        </div>

    
        </div>
</main>

