@model arabiquantum.ViewModels.RegisterViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <head>
       
        <link rel="stylesheet" href="~/css/loginStyle.css" asp-append-version="true" />
    </head>

     <main role="main">
        <div class="d-flex justify-content-center  mb-5 ">
        <div class=" login-page ">

            <div class="form" >
        

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
                    <form asp-action="Register" class="login-form" enctype="multipart/form-data">
                   
            <div class="d-flex flex-row align-items-center mb-3">

                <div class="form-outline flex-fill mb-0">
                   
                            <input asp-for="Username" type="text" id="user" class="form-control" placeholder="إسم المستخدم" />
                    <span asp-validation-for="Username" class="text"></span>

                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-3">

                <div class="form-outline flex-fill mb-0">
                   
                            <input asp-for="Email" type="email" id="email" class="form-control" placeholder="البريد الإلكتروني" />
                    <span asp-validation-for="Email" class="text"></span>

                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-3">

                <div class="form-outline flex-fill mb-0">
                   
                            <input asp-for="Password" type="password" id="password" class="form-control" placeholder="كلمة السر" />
                    <span asp-for="Email" asp-validation-for="Password" class="text"></span>

                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-3">

                <div class="form-outline flex-fill mb-0">
                  
                            <input asp-for="ConfirmPassword" type="password" id="repassword" class="form-control" placeholder="تأكيد كلمة السر" />
                    <span asp-validation-for="ConfirmPassword" class="text"></span>

                </div>
            </div>

            <div class="form-check d-flex justify-content-center mb-1">
                <input class="form-check-input ms-2" style="width:auto;" type="checkbox" value="" id="terms" />
                <label class="form-check-label" for="terms">
                    أوافق على جميع البيانات في<a href="#!">شروط الخدمة </a>
                </label>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
                <button type="submit" class="myb1 ">تسجيل الحساب</button>
            </div>

        </form>


    </div>
            </div>
        </div>
    </main>
}
